# Telegram
TELEGRAM_TOKEN=your_telegram_bot_token_here

# API base URL
SMABILITY_BASE_URL=https://example.com/SmabilityAPI

# Device API tokens
# Telegram
TELEGRAM_TOKEN=your_telegram_bot_token_here

# API base URL
SMABILITY_BASE_URL=https://example.com/SmabilityAPI

# Device API tokens
SM_TOKEN_DEVICE_1=your_device_1_api_token_here
SM_TOKEN_DEVICE_2=your_device_2_api_token_here

# Timezone
TZ=America/Mexico_City

# Configuraciones para lectura de archivos (Historial AWS)
# Configuraciones para lectura de archivos (Historial AWS)
CSV_HUERTO_PATH="/ruta/a/tu/huerto_readings.csv"
CSV_CAMAS_PATH="/ruta/a/tu/cama_cultivo_readings.csv"

# Endpoints de API Flask (para lectura de valores instantaneos en AWS)
URL_API_ULTIMO="http://<tu-ip-o-localhost>/huerto/ultimo"
URL_API_CAMAS="http://<tu-ip-o-localhost>/huerto/ultimo?device=cama_cultivo_01"
